@import '../styles/common.scss';

.main-layout {
  flex: 1;
  flex-direction: column;
  color: $green;

  @include displayFlex();

  .if-logo {
    margin-bottom: 60px;
    font-size: 140px;
    color: #61dafb;
    animation: spin 10s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
